

html{
  /* margin:40px; */
  padding-top: 40px;
  padding-bottom: 200px;
  }
 body {
    background-image: url("https://webneel.com/wallpaper/sites/default/files/images/04-2013/15-beach-sea-photography.1440.jpg");
    /* margin-top: 40px; */
    background-position:center;
   background-size: 100% 100%;
   font-family:sans-serif;
    }
 
    .Link {
       font-size: 14pt;
       font-weight: 800;
       color:#E5E5E5
;   
   
    }

    .vCard {
      -webkit-border-radius: 6px;
      padding: 7px
    }     

    .RegForm {
 margin-top: 40px;
 margin-bottom: 60px;
 display: flex;
 flex-direction: column;
 max: width 1000px 4px;
 width:90%;
 background-color:rgb(0,0,0,0.4);
 margin:auto;
 color:#FFFFFF;
 padding:10px 0px 10px 0px;
 text-align:center;
 border-radius:15px;
 -webkit-border-radius:15px ;
 -moz-border-radius:15px ;
 -ms-border-radius:15px ;
 -o-border-radius:15px ;
}  



h3 {
   color: white;
   background-color: rgb(1,62,93);
   font-weight: 900;
 margin: 0;
}

marketing {
   border: solid 1px red;

}

   Card { 
      display: flex; 
      flex-wrap: wrap;
      flex-direction: column;
        
    
 } 

 @media screen and (max-width: 800px) {
    .RegForm {
       flex-direction: column;
    }
   }
.output {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 98%;
      gap: 10px;
    
      padding: 10px;
      align-items: flex-start;
      justify-content: center;
      
      }
.table {
       width: 400px;
 background-color:rgb(0,0,0,0.6);
 font-size: 14px;
 margin:auto;
 color:#FFFFFF;
 padding:10px 0px 10px 0px;
 row-gap: 20px;

}
.showForm{
 display: flex;
 flex-direction: column;
 width: 80%;
 background-color:rgba(5, 5, 5, 0.411);
justify-content: space-between;
 font-size: 16px;
 font-weight: bolder;
 margin:auto;
 color:#366473;
 padding:10px 0px 10px 0px;
 text-align:center;
 border-radius: 15px;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 -ms-border-radius: 15px;
 -o-border-radius: 15px;
}   

.showField{
   margin-top: 40px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   max-width: span;
   /*background-color:rgb(0,0,0,0.6);
   *//*justify-content: space-evenly;
   */align-items: flex-start;
   justify-content: space-around;
   margin:auto;
   color:#366473;
   padding:10px 0px 10px 0px;
   text-align:center;
   border-radius: 15px;
   row-gap: 20px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
}   

   .InputField{
    /* margin-top: 40px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1500px;
    /*background-color:rgb(0,0,0,0.6);
    *//*justify-content: space-evenly;
    */align-items: flex-start;
    justify-content: space-around;
    margin:auto;
    color:#366473;
    padding:10px 0px 10px 0px;
    text-align:center;
    border-radius: 15px;
    row-gap: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}   


  .RegForm{
     /* display: flex; */
     /* flex-direction:column; */
     /* flex-wrap: wrap; */
     align-items: center;
     /* justify-content: space-evenly; */
      background-color:rgb(0,0,0,0.4);
   max-width:1500px;
   margin:auto;
   margin-top: 10px;
}q
  
  form{
      padding:5px;
   
  } 
  .rowBtn {
     display:inline-flex;
  }

  pre.vCardoutput{
     background-color:rgb(0,0,0,0.6);
     color:#FFFFFF;
     display:block;
     margin: 10px;
     text-align:center;
     border-radius:12px;
     outline:none;
     cursor:pointer;
     transition:0.25px;
     justify-self: center;
     width: 90%;
     
     -webkit-transition:;
     -moz-transition:;
     -ms-transition:;
     -o-transition:;
}

  .VCard {
     width: 250px;
     min-width: 200px;
     border:2px solid #fcfeff;
     border-radius: 6px;
     height: 166px;
     
     
  }
  
  #name{
       width:100%;
    height:100px;
    
    }  
  .name{
            margin-left:25px;
   margin-top: 0;
   width: 125px;
            color: white;
            font-size: 18px;
            font-weight: 700;}
h4 {
   margin-top: 15px;
}

Section {
display: flex;
flex-wrap:wrap;
width: 100%;
justify-content:center;
align-content:flex-start;
margin-top: 40px;
/* background-color:rgba(255, 0, 0, 0.5) */ 


}
h7 { font-family: 'Helvetica', sans-serif; font-size: 14px !important; background-color:rgba(0, 00, 000, 0.2); text-transform:none; padding: 10px; color: white; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px;
width: 100%;
}

input {
       width: 200px;
       background-color:rgba(243, 236, 236, 0.2);
       /*left:200px;
       */top:-37px;
       color: rgba(243, 236, 236, 0.2);
       line-height: 40px;
       border-radius: 6px;
       /*padding: 0 22px;
       */font-size: 14px;
       margin-left: 10px;
       margin-right: 10px;
       margin-bottom: 10px;
       margin-top:0;
       background-color: 20%;
       input:-internal-autofill-selected ;
       -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
       -ms-border-radius: 6px;
       -o-border-radius: 6px;
       {
         appearance: menulist-button;
         background-image: none !important;
         background-color: -internal-light-dark(black),
         rgba(70, 90, 126, 0.4))
         color: -internal-light-dark(black, white) !important;
   }
}


   
     input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1; /* Firefox */
    }
    
    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: white;
    }

   
     
h2 {
   align-self:center;
   margin-left: 20px;
   color :rgb(0,0,0,0.6);
}

.QRCodeBox {
   background-color: white;
   color:#013e5d;
   border-radius: 6px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
  }
  
nav {
   font-size: 79px !important;
   display: flex;
   flex-direction: column;
   align-content: center;
   /*background-color: rgb(0,0,0,0.6);
   */border-radius: 6px;
   padding: 10px 10px;
   margin-left: -5px;
   /*margin-bottom: 40px;
   */width: span;
   font-family: 'Racing Sans One', cursive;
   justify-self: center;
   -webkit-border-radius: 6px;
   -moz-border-radius`1Z: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   -moz-border-radius: 6px;
}

h1 {
   font-family: 'Racing Sans One', cursive;
   font-size: 72px;
   color:rgba(7, 6, 6, 0.6);
}

textarea {
   color: black !important;
}
 Section.P {
         color:#0f0f0f !important;
         text-transform:capitalize;
         font-size:16px;
         justify-content: flex-start;
         margin-left: 0;
         top:-76px;
           } 

           .P {
            color:#faf8f8 !important;
            text-transform:capitalize;
            font-size:16px;
            justify-content: flex-start;
            margin-left: 0;
            top:-76px;
              } 

              
              

 /* .Label{ */
            /* position:relative;
            color:#E5E5E5;    
      text-transform: capitalize;
   font-size: 14px;
   left:203px;
   top:-45px;
  


     /* .company{
        position:relative;
        left:200px;
        top:-37px;
        line-height: 40px;
        width:480px;
        border-radius: 6px;
        padding: 0 22px;
        font-size: 16px;
        color: #555;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
} */ */
 .email{
        position:relative;
        left:200px;
        top:-37px;
        line-height: 40px;
        width:480px;
        border-radius: 6px;
        padding: 0 22px;
        font-size: 16px;
        color: #555;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
}     



 .phone-number{
              position:relative;
      color:#E5E5E5;
      text-transform:capitalize;
      font-size:16px;
      left:-100px;
      top:-2px;
     }
 /* .option{
        position:relative;
        left:200px;
        top:-37px;
        line-height: 40px;
        width:532px;
        height:40px;
        border-radius: 6px;
        padding: 0 22px;
        font-size: 16px;
        color: #555;
        outline:none;
        overflow:hidden;
        -webkit-border-radius:;
        -moz-border-radius:;
        -ms-border-radius:;
        -o-border-radius:;
}    
     .option option{
                 font-size:20px;
       }
   #coustomer{
                margin-left:25px;
    color:white;
    font-size:18px;
    
      } 
     .radio{
         display:inline-block;
   padding-right:70px;
   font-size:25px;
   margin-left:25px;
   margin-top:15px;
   color:white;
   }
  .radio input{
              width:20px;
     height:20px;
     border-radius:50%;
     cursor:pointer;
     outline:none;
    }  */
    button{
     background-color:#5390F5;
     display:block;
     margin: 10px;
     text-align:center;
     border-radius:12px;
     border:2px solid #366473;
     padding:10px px;
     outline:none;
     color:white;
     font-size: 16px;
     cursor:pointer;
     transition:0.25px;
     justify-self: center;
     min-width: 250PX;
     -webkit-transition:0.25px;
     -moz-transition:0.25px;
     -ms-transition:0.25px;
     -o-transition:0.25px;
} 
   button:hover{
                background-color:aqua;
      } 
.QRCodeBox:hover{
   background-color: aqua;
}
      .Add {
         min-width: 260px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         border-radius:12px;
         -webkit-border-radius:12px;
         -moz-border-radius:12px;
         -ms-border-radius:12px;
         -o-border-radius:12px;
}

   .Heading {
      /* width: span; */
      font-family: 'Racing Sans One', cursive;
      font-size: 40px;
      /* background-color:rgb(0,0,0,0.7); */
      margin-top: 30px;
      width: span;
      margin-bottom: 0;
      align-self: center;
      color:#FFFFFF;
      padding:10px 0px 10px 0px;
      text-align:center;
      border-radius:15px 15px 0px 0px ;
      -webkit-border-radius:15px 15px 0px 0px ;
      -moz-border-radius:15px 15px 0px 0px ;
      -ms-border-radius:15px 15px 0px 0px ;
      -o-border-radius:15px 15px 0px 0px ;
}  
   
.form-control-lg {
   margin: 5px;
   width: 98%;
   margin-right: 8px;
 
}



   .Btn {
      display: flex;
      flex-direction: column;
    
      background-color: rgb(0,0,0,0.7);
      padding: 15px;
      /*margin: -5px;*/
      background: rgb(0,0,0,0.7);
      background-clip: content-box;
      box-shadow: inset 0 0 0 15px transparent;
      margin: 0;
      color: #f1eded;
      text-align: center;
      cursor: pointer;
     align-items: center;
      justify-content: space-between;
      width: 220px;
      height: 350px;

}

.Organization {
   font-family: 'Racing Sans One', cursive;
   width: 190px;
   /* padding: 15px 15px; */
   margin-bottom: 0;
   margin-top: 0;
   font-size: x-large;
   /* font-weight:300; */
   /* border: solid 2px, blue; */
   background-color: rgb(1, 62, 93, .7);
   color: whitesmoke !important;
}
.Space {
   font-size: 10px;
}

.Top {
   grid-column-start: 1;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-row-end: 2;
   align-self: flex-start;


   background-color: rgb(1, 62, 93, .7);
   color: whitesmoke !important;
   color: #013e5d !important;

}

.URL {
   grid-column-start: 1;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-row-end: 3;
   align-self: flex-end;
   font-family: 'Courier New', Courier, monospace;
   font-size: 10px;
   margin-top: -20px;
   margin-bottom: 0;
   text-transform: uppercase;
   -webkit-font-feature-settings: ;
   -moz-font-feature-settings: ;
}
 

.Name {

   margin-bottom: 0px;
   font-size: 20px;
   margin-top: 10px;
   font-weight: 600;
   /* margin-bottom: 1px;
   margin-top: -20px; */
   /* justify-self: center; */
   /* margin-left: -10px; */

}
.CardCode {

   align-self: bottom;
   width: 135px;
   height: 135px;
   /* justify-self: right; */
  margin-bottom: 15px;
   background-color: white;
   border: solid 3px white;
   /* margin-left: -10px; */
  

}



.Title {
   margin-top: -10px;
   margin-bottom: 0px;
   font-size: 16px;
   justify-self: center;
   

}

.WorkPhone {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 5;
   grid-row-end: 6;
   align-self: flex-start;
   margin-bottom: 0px;
   font-size: 10px;
   justify-self: left;
}

.WorkPhoneLabel {
   grid-column-start: 3;
   grid-column-end: 6;
   grid-row-start: 3;
   grid-row-end: 3;
   align-self: flex-middle;
   margin-bottom: 0px;
   font-size: 10px;
   margin-top: 10px;
   justify-self: center;
}


.MobileLabel {
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 3;
      align-self: flex-end;
      margin-bottom: 10px;
      font-size: 10px;
      justify-self: center;

}

.MobilePhone {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 5;
   grid-row-end: 6;
   align-self: flex-end;
   margin-bottom: 0px;
   font-size: 10px;
   justify-self: left;
}


.Email {
   grid-column-start: 3;
   grid-column-end: 6;
   grid-row-start: 4;
   grid-row-end: 4;
   align-self: flex-start;
   justify-self: center;
   margin-bottom: 0px;
   font-size: 10px;
}


.EmailLabel {
   grid-column-start: 3;
   grid-column-end: 6;
   grid-row-start: 4;
   grid-row-end: 5;
   align-self: flex-end;
   justify-self: right;
   margin-bottom: 0px;
   font-size: 10px;
}

.FormField {
  color: white;
 font-size: 16px;}

.Address {
   /* display: flex;
   flex-wrap:wrap-reverse; */
   grid-column-start: 3;
   grid-column-end: 6;
   grid-row-start: 4;
   grid-row-end: 4;
   align-self: flex-end;
   justify-self: center;
   margin-bottom: 20px;
   font-size: 10px;
   margin-right: o;

}
.AddressLabel {
   /* display: flex;
   flex-wrap:wrap-reverse; */
   grid-column-start: 3;
   grid-column-end: 6;
   grid-row-start: 5;
   grid-row-end: 6;
   align-self: center;
   justify-self: right;
   margin-bottom: 0px;
   font-size: 10px;
   margin-right: o;
}


.CellPhone {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 3;
   grid-row-end: 4;
   align-self: flex-start;
   margin-bottom: 0px;
   font-size: large;
}




.InputForm {
   display: flex;
   flex-direction: column;
   /* padding: 20px; */
   margin-top: 0px;

}


/* .App {

.InputForm {
  
    }
}

.Form1 {
  display: flex-wrap;
  flex-direction: inline;
  
    text-align: left;
  }


  /* input {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .Label {
    margin-top: 0px;
    margin-bottom: 0px;
  } */
 
